<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jakewharton.rxbinding">

  <application>
    <activity android:name="com.jakewharton.rxbinding2.view.RxViewAttachTestActivity"/>
    <activity android:name="com.jakewharton.rxbinding2.view.RxViewSystemUiVisibilityTestActivity"/>
    <activity android:name="com.jakewharton.rxbinding2.widget.RxAdapterViewTestActivity"/>
    <activity android:name="com.jakewharton.rxbinding2.widget.RxAbsListViewTestActivity"/>
    <activity android:name="com.jakewharton.rxbinding2.widget.RxAutoCompleteTextViewTestActivity"/>
    <activity android:name="com.jakewharton.rxbinding2.widget.RxRatingBarTestActivity"/>
    <activity android:name="com.jakewharton.rxbinding2.widget.RxSeekBarTestActivity"/>
    <activity android:name="com.jakewharton.rxbinding2.widget.RxPopupMenuTestActivity"/>
    <activity
        android:name="com.jakewharton.rxbinding2.widget.RxToolbarTestActivity"
        android:theme="@android:style/Theme.Material"
        />
  </application>
</manifest>
