<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jakewharton.rxbinding">

  <application>
    <activity android:name=".view.RxViewAttachTestActivity"/>
    <activity android:name=".view.RxViewSystemUiVisibilityTestActivity"/>
    <activity android:name=".widget.RxAdapterViewTestActivity"/>
    <activity android:name=".widget.RxAbsListViewTestActivity"/>
    <activity android:name=".widget.RxAutoCompleteTextViewTestActivity"/>
    <activity android:name=".widget.RxRatingBarTestActivity"/>
    <activity android:name=".widget.RxSeekBarTestActivity"/>
    <activity android:name=".widget.RxPopupMenuTestActivity"/>
    <activity
        android:name=".widget.RxToolbarTestActivity"
        android:theme="@android:style/Theme.Material"
        />
  </application>
</manifest>
