<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jakewharton.rxbinding4.appcompat">

  <application>
    <activity
        android:name=".RxToolbarTestActivity"
        android:theme="@style/Theme.AppCompat"
        />
    <activity
        android:name=".RxPopupMenuTestActivity"
        android:theme="@style/Theme.AppCompat"
        />
    <activity
        android:name=".RxSearchViewTestActivity"
        android:theme="@style/Theme.AppCompat"
        />
  </application>
</manifest>
